@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:wght@400;700;900&family=Montserrat:wght@300;400;500;600;700;800;900&family=Mulish:wght@300;700&display=swap');

:root{
	--orange-color: #d97206;
	--black-color: #3b3b3b;
	--btn-color: #f58d20;
}

body {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	color: var(--black-color);
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.page {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.orange{
	color: var(--orange-color);
}


/*HEADER*/
.bg{
	background: url('../img/header-bg.png') no-repeat;
	background-size: cover;
	background-position: 0 0;
	position: relative;
}

.header{
	padding: 40px 0 88px;
}
.header__container {
	position: relative;
}
.header__container::after{
	content: url('../img/people.png');
	position: absolute;
	right: -124px;
	top: 15.5%;
}
.header__container::before{
	content: url('../img/temp.png');
	position: absolute;
	right: 13px;
	bottom: -273px;
	z-index: 2;
}
.header__body{
	position: relative;
	z-index: 2;
}
.logo {
	display: block;
	margin: 0 0 66px 6px;
}
.header__title{
	max-width: 590px;
	text-transform: uppercase;
	margin: 0 0 70px;
}
.header__title p{
	margin: 18px 0;
	font-weight: 800;
	font-size: 67px;
	color: var(--orange-color);
}
.header__title span{
	margin: 0;
	font-size: 22px;
	display: inline-block;
	color: var(--black-color);
	font-weight: 600;

}
.header__list {
	margin: 0 0 65px;
}
.header__list li {
	font-weight: 400;
	font-size: 18px;
	padding: 0 0 0 35px;
	position: relative;
}
.header__list li::before{
	content: url('../img/checked.png');
	position: absolute;
	left: 0;
	top: 0;
}
.header__list li:not(:last-child){
	margin: 0 0 25px;
}
.header__bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.header__button {
	margin: 0 24px 0 0;

}
.btn {
	min-height: 65px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
	background-color: var(--btn-color);
	padding: 0 40px;
	-webkit-box-shadow: 0px 0px 46px 0px rgba(251, 102, 51, 0.39);
	box-shadow: 0px 0px 46px 0px rgba(251, 102, 51, 0.39);
	border-radius: 30px;
	font-size: 18px;
	font-weight: 700;
	max-width: 285px;
	text-transform: uppercase;
	-webkit-transition: all .2s ease 0s;
	-o-transition: all .2s ease 0s;
	transition: all .2s ease 0s;
	letter-spacing: 1px;
}
.btn:hover {
	background: #ff9b32;
}
.header__prices {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.header__prices-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin: 0 0 4px;
}
.header__price {
	font-weight: 700;
	font-size: 40px;
	margin: 0 20px 0 0;
}
.header__price span{
	font-size: 29px;
	position: relative;
	top: -5px;
}
.header__sale {
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	background-color: #74a201;
	border-radius: 10px;
	padding: 9px;
}
.header__price-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #b9b9b9;
	font-size: 20px;
	font-weight: 600;
}
.header__price-bottom span{
	display: inline-block;
	margin: 0 6px 0 0;
}
.header__price_old {
	position: relative;
}
.header__price_old::before{
	content: "";
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	height: 2px;
	background: #fb3333;
}

/*CARDS*/
.cards{
	padding: 122px 0 20px;
}
.cards__header {
	margin: 0 0 100px;
	text-align: center;
}
.cards__subtitle {
	font-size: 28px;
	font-weight: 500;
	color: var(--black-color);
	text-transform: uppercase;
	margin: 0 0 22px;
}
.cards__title {
	font-size: 45px;
	line-height: 118%;
	font-weight: 800;
	text-transform: uppercase;
}
.cards__body {
}
.cards__items {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 126px 1fr 126px 1fr;
	grid-template-columns: repeat(3, 1fr);
	-ms-grid-rows: auto;
	grid-template-rows: auto;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 0 126px;
}
.cards__items > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
.cards__items > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}
.cards__items > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}
.cards__item {}
.item-cards {}
.item-cards__image {
	position: relative;
	padding-bottom: 79.86%;
	border-radius: 10px;
}
.item-cards__image img{
	border-radius: inherit;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.item-cards__back-image {
	border-radius: 10px;
	position: absolute;
	top: -8px;
	left: 8px;
	width: 100%;
	height: 100%;
	background-color: rgb(251, 102, 51);
	-webkit-box-shadow: 0px 0px 46px 0px rgba(59, 59, 59, 0.39);
	box-shadow: 0px 0px 46px 0px rgba(59, 59, 59, 0.39);
	z-index: -1;
}
.item-cards__content {
	text-align: center;
	padding: 28px 0 0 0;
}
.item-cards__title {
	text-transform: uppercase;
	font-size: 20px;
	line-height: 140%;
	font-weight: 700;
	margin: 0 0 11px;
}
.item-cards__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 158%;
}
.item-cards__text span{
	font-weight: 700;
}

/*VIDEO-SECTION*/
.video-section {
	padding: 40px 0 52px;
	position: relative;
}
.video-section__image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video-section__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	background-repeat: no-repeat;
}

.video-block {}
.container {}
.video-block__body {
	position: relative;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.video-block__action {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
	position: relative;
	z-index: 2;
	padding: 15px 0 0;
}
.video-action__btn {
	display: block;
	width: 56px;
	height: 63px;
	position: absolute;
	top: 52%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: url('../img/play.png') 50% 50% / 100% no-repeat;;
}
.video-block__info {
	color: #fff;
}
.video-info {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
}
.video-info__title {
	font-size: 45px;
	line-height: 122%;
	font-weight: 800;
	margin: 0 0 15px;
}
.video-info__text {
	font-size: 16px;
	line-height: 158%;
	margin: 0 0 25px;
}
.video-info__button {
	padding: 0 30px;
}
.btn {}
.video-action__text{
	font-size: 31px;
	font-weight: 500;
	color: #6c6e6f;
	text-transform: uppercase;
	-webkit-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	writing-mode: vertical-lr;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.anim_wave{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -68px;
}
.video-action__btn .anim_wave::before, 
.video-action__btn .anim_wave::after, 
.video-action__btn .anim_wave > div::before, 
.video-action__btn .anim_wave > div::after {
	content: '';
	position: absolute;
	width: 120px;
	height: 120px;
	border: 1px solid #f58d20;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -60px;
	-webkit-animation: pulse 6s ease-in infinite;
	animation: pulse 6s ease-in infinite;
	opacity: 0;
}
.video-action__btn .anim_wave::after {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
.video-action__btn .anim_wave > div::before {
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
}
.video-action__btn .anim_wave > div::after {
	-webkit-animation-delay: 6s;
	animation-delay: 6s;
}

@-webkit-keyframes pulse {
	0% {
		opacity: 0;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		opacity: 0.8;
	}
	100% {
		-webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0;
	}
}

@keyframes pulse {
	0% {
		opacity: 0;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		opacity: 0.8;
	}
	100% {
		-webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0;
	}
}

/*POPUP*/
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	z-index: 10;
}
.popup.open {
	opacity: 1;
	visibility: visible;
}
.popup.open .popup__content {
	-webkit-transform: translate(0px, 0%) rotateX(0deg);
	transform: translate(0px, 0%) rotateX(0deg);
	opacity: 1;
}
.popup__body {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 30px 10px;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}
.popup__content {
	background-color: #fff;
	color: #000;
	width: 700px;
	padding: 0;
	position: relative;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	opacity: 0;
	-webkit-transform: translate(0px, -100%) rotateX(0deg);
	transform: translate(0px, -100%) rotateX(0deg);
	padding: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	border-radius: 20px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.popup__close {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 10px;
	width: 40px;
	height: 40px;
}
.popup__close img{
	height: 100%;
	width: 100%;
}
.popup__button{
	margin-top: 40px;
}
.popup__video{
	position: relative;
	padding-bottom: 53.33%;
	border-radius: 10px;
	-ms-flex-item-align: stretch;
	-ms-grid-row-align: stretch;
	align-self: stretch;
}
.popup__video video{
	border-radius: inherit;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

/*ROOM*/
.room {
	padding: 76px 0 138px;
}
.room__container {}
.container {}
.room__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}
.room__info {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
}
.room__title {
	font-size: 45px;
	line-height: 122%;
	font-weight: 800;
	text-transform: uppercase;
	max-width: 550px;
	margin: 0 0 30px;
}
.orange {}
.room__list {}
.room__list li {
	padding: 0 0 0 50px;
	position: relative;
	font-size: 16px;
	line-height: 158%;
	font-weight: 400;
}
.room__list li:not(:last-child){
	margin: 0 0 22px;
}
.room__list li::before{
	content: url('../img/checked.png');
	position: absolute;
	top: 0;
	left: 0;
}
.room__images {
	background: url('../img/room-img-bg.png') no-repeat;
	background-position: 0 -20px;
	position: absolute;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.room__column {}
.room__item {
	max-width: 100%;

}

.room__item img{
	max-width: 100%;
	max-height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.27);
	box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.27);
}
.room__column_1{
	padding: 67px 48px 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.room__column_2{
	padding: 43px 0 0 0;
}
.room__item_1{
	padding: 0 0 46px;
}
.room__item_3{
	padding: 0 40px 40px 0;
}
.room__item_4{
	padding: 0 20px 38px 0;
}

/*SPECIFIC*/
.specific{
	background: #fbfbfb;
	padding: 80px 0 110px;
}
.specific__title{
	font-size: 45px;
	font-weight: 800;
	line-height: 122%;
	margin: 0 0 26px;
	text-align: center;
	text-transform: uppercase;
}
.specific__info{
	-webkit-box-flex: 0;
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
}
.specific__data{
	-webkit-box-flex: 0;
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
	padding: 14px 0 0 0;
}
.specific__body{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.specific__button{
	padding: 0 10px;
	margin: 0 0 0 20px;
	letter-spacing: 0.2px;
}
.specific__list{
	border: 1px solid #ececec;
	border-radius: 8px;
	padding: 0 20px 0 14px;
	width: 570px;
	margin: 0 0 85px;
}
.specific__list-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	width: 100%;
	padding: 20px 0 18px;
}
.specific__list-item:not(:last-child){
	border-bottom: 1px solid #ececec;
}
.specific__list-item_temp .specific__name{
	width: 65%;
}
.specific__list-item_temp .specific__value{
	width: 35%;
}
.specific__list-item_speed .specific__name{
	width: 35%;
}
.specific__list-item_speed .specific__value{
	width: 65%;
}
.specific__name{
	width: 40%;
	font-size: 16px;
	font-weight: 700;
}
.specific__value{
	width: 60%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 0 0 0 15px;
	text-align: right;
}


.specific__info {
	margin: 0 20px 0 0;
}
.specific-info {}
.specific-info__item {
	position: relative;
}
.specific-info__item_1 {
	margin: 0 0 62px;
	padding: 27px 0 0 170px;
}
.specific-info__item_1::before{
	content: url('../img/spec-1.png');
	position: absolute;
	left: -30px;
	top: -26px;
}
.specific-info__item_1 .specific-info__text{
	max-width: 320px;
}
.specific-info__text {
	font-size: 16px;
	line-height: 158%;
	position: relative;
	z-index: 2;
}
.specific-info__item_2 {
	text-align: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.specific-info__item_2 .specific-info__text{
	max-width: 210px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.specific-info__item_1 .specific-info__text:before,
.specific-info__item_2 .specific-info__text:before{
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	background: #fea03e;
	border-radius: 50%;
}
.specific-info__item_2 .specific-info__text:before{
	bottom: -10px;
	left: -18px;
}
.specific-info__item_1 .specific-info__text:before{
	left: 34%;
	bottom: -5px;
}
.specific-info__item_1 .specific-info__text:after,
.specific-info__item_2 .specific-info__text:after{
	content: "";
	position: absolute;
	width: 2px;
	background: #fea03e;
}
.specific-info__item_1 .specific-info__text:after{
	left: 36.4%;
	bottom: -104px;
	height: 111px;
}
.specific-info__item_2 .specific-info__text:after{
	height: 50px;
	-webkit-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	transform: rotate(50deg);
	left: -29px;
	bottom: -44px;
}

.specific-info__item_2::before{
	content: url('../img/spec-2.png');
	position: absolute;
	left: 15px;
	top: -85px;
	z-index: 0;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	max-width: 100%;
}


/*REVIEWS*/
.reviews{
	padding: 80px 0 120px;
}
.reviews {}
.reviews__container {}
.reviews__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}
.reviews__info {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 65%;
	flex: 0 1 65%;
}
.reviews__title {
	font-size: 45px;
	line-height: 122%;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0 0 49px;
}
.reviews__box{
	max-width: 450px;
}
.reviews__list {}
.reviews__list li {
	position: relative;
	padding: 0 0 0 35px;
	font-size: 16px;
	line-height: 143%;
	color: #74a201;
}
.reviews__list li:not(:last-child){
	margin: 0 0 18px;
}
.reviews__list li::before{
	content: url('../img/checked.png');
	position: absolute;
	left: 0;
	top: 0;
}
.reviews__text {
	margin: 30px 0 60px;
}
.reviews__text p:not(:last-child){
	margin: 0 0 24px;
}
.reviews__text p{
	font-size: 16px;
	line-height: 158%;
}
.reviews__text p span{
	font-weight: 700;
}
.reviews__button {
	letter-spacing: 0.2px;
	padding: 0 10px;
}
.reviews__button_adaptive{
	display: none;
}
.reviews__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: absolute;
	right: 0;
	width: 35%;
}
.reviews__item {}
.item-reviews {
	border: 1px solid rgb(215, 227, 253);
	-webkit-box-shadow: 0px 0px 46px 0px rgba(215, 227, 253, 0.52);
	box-shadow: 0px 0px 46px 0px rgba(215, 227, 253, 0.52);
	border-radius: 10px;
	padding: 20px 8px 8px 18px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	background: #fff;
	position: relative;
}
.item-reviews::after{
	content: url('../img/quot.png');
	position: absolute;
	right: 12px;
	top: 16px;
}
.item-reviews__head {
	margin: 0 0 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.item-reviews__pic {
	height: 55px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 55px;
	flex: 0 0 55px;
	border-radius: 50%;
	margin: 0 15px 0 0;
}
.item-reviews__pic img{
	border-radius: inherit;
	height: 100%;
	max-width: 100%;
}
.item-reviews__data {

}
.item-reviews__data span{
	display: block;
	font-size: 15px;
	line-height: 153%;
}
.item-reviews__data span:first-child{
	font-weight: 700;
}
.item-reviews__text {
	font-size: 15px;
	line-height: 153%;
}
.item-reviews_1{
	max-width: 327px;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	position: relative;
	right: 220px;
	top: -6px;
	margin: -160px  0px 0px 0;
}
.item-reviews_2::before{
	content: url('../img/quot-big.png');
	position: absolute;
	bottom: -95px;
	right: 40px;
	z-index: -1;
}
.item-reviews_2{
	max-width: 263px;
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
	position: relative;
	top: 9px;
	right: -135px;
}
.item-reviews_3{
	width: 545px;
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
	order: 3;
	position: relative;
	right: 145px;
	top: 17px;
	padding-bottom: 35px;
}


/*WORK*/
.work {
	padding: 0 0 99px;
}
.work__container {}
.work__header {
	text-align: center;
	margin: 0 0 140px;
}
.work__title {
	font-size: 45px;
	line-height: 122%;
	text-transform: uppercase;
	font-weight: 800;
}
.work__subtitle {
	font-weight: 500;
	font-size: 28px;
	text-transform: uppercase;
	line-height: 196%;
}
.work__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -15px;
	background: url(../img/line.png) 50% 85px no-repeat;
}
.work__column {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 33.333%;
	flex: 0 1 33.333%;
	padding: 0 15px;
}
.work__item {}
.item-work {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.work__column:nth-child(2){
	margin-top: -50px;
}
.work__column_1 .item-work__box{
	padding: 0 50px 0 0;
}
.work__column_3 .item-work__box{
	max-width: 270px;
}
.work__column_3 .item-work{
	margin: 0px -75px 0 0;
}
.work__column_1 .item-work{
	margin: -4px 42px 0 0;
}
.work__column_2 .item-work__box{
	padding: 0 25px 0 0;
}
.item-work__image {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
}
.item-work__number {
	display: block;
	margin: -42px auto 10px;
	width: 54px;
	height: 54px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 54px;
	flex: 0 0 54px;
	background: #74a201;
	text-align: center;
	font-size: 19px;
	line-height: 54px;
	font-weight: 700;
	color: #fff;
	border-radius: 50%;
}
.item-work__content {
	text-align: center;
	font-size: 16px;
	line-height: 158%;
}
.item-work__content span:not(.orange) {
	display: inline-block;
	color: #a2a2a2;
	font-size: 13px;
}


/*FOOTER*/
.footer{
	padding: 40px 0 20px;
	overflow: hidden;
}
.footer__container {
	position: relative;
}
.footer__container::after{
	content: url('../img/people.png');
	position: absolute;
	right: -124px;
	top: 13.9%;
}
.footer__container::before{
	content: url('../img/temp.png');
	position: absolute;
	right: 13px;
	bottom: -208px;
	z-index: 2;
}

.footer__logo{
	display: block;
	margin: 0 0 40px 6px;
}
.footer__form {}
.form {
	background: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 62px 0px rgba(0, 0, 0, 0.13);
	box-shadow: 0px 0px 62px 0px rgba(0, 0, 0, 0.13);
	max-width: 470px;
	padding: 63px 70px 65px 56px;
	position: relative;
	z-index: 2;
}
.form__title {
	text-align: center;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	margin: 0 0 35px;
	position: relative;
}
.form__title::before{
	content: "";
	position: absolute;
	height: 2px;
	width: 102px;
	background: #71b96a;
	bottom: -4px;
	right: 23%;
}
.form__prices {
	text-align: center;
	margin: 0 0 38px;
}
.form__price-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 0 10px;
}
.form__price {
	font-weight: 700;
	font-size: 40px;
}
.form__price span{
	font-size: 30px;
	position: relative;
	display: inline-block;
	top: -5px;
}
.form__sale {
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	background: #74a201;
	padding: 10px;
	border-radius: 10px;
	margin: 0 0 0 15px;
}
.form__price-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #b9b9b9;
	font-size: 20px;
	font-weight: 600;
}
.form__price-bottom span{
	display: inline-block;
	margin: 0 5px 0 0;
}
.form__price_old {
	position: relative;
}
.form__price_old::before{
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	background: #fb3333;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.form__item {
	width: 79%;
	margin: 0 auto 14px 40px;
}
.form__label {
	font-size: 15px;
	font-weight: 700;
	margin: 0 0 8px;
	color: #000;
}
.form__input {
	width: 100%;
	background: #ececec;
	min-height: 59px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	padding: 15px;
	font-size: 21px;
	font-weight: 400;
	color: #262626;
}
.form__input::-webkit-input-placeholder{
	font-size: 21px;
	font-weight: 400;
	color: #9d9d9d;
	letter-spacing: 0.5px;
}
.form__input::-moz-placeholder{
	font-size: 21px;
	font-weight: 400;
	color: #9d9d9d;
	letter-spacing: 0.5px;
}
.form__input:-ms-input-placeholder{
	font-size: 21px;
	font-weight: 400;
	color: #9d9d9d;
	letter-spacing: 0.5px;
}
.form__input::-ms-input-placeholder{
	font-size: 21px;
	font-weight: 400;
	color: #9d9d9d;
	letter-spacing: 0.5px;
}
.form__input::placeholder{
	font-size: 21px;
	font-weight: 400;
	color: #9d9d9d;
	letter-spacing: 0.5px;
}
.form__button {
	margin: 40px auto 0 35px;
	padding: 0 46px;
	max-width: 100%;
}